---
layout: default
title: Samples
date: 2015-09-09 00:00:00
---
<h1>
  Samples
</h1>

<ul class='samples-list mdl-list'>
{% for sample in site.data.samples %}
  {% assign body = sample.content | xml_escape | strip_html | strip_newlines | remove:' ' %}
  <li class="sample-item mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <img class="logo mdl-list__item-avatar" src="{{ sample.logo }}"/>
      <a href="{{sample.app_url}}">
        {{ sample.language }}{% if sample.framework != "" %}/{{sample.framework}}{% endif %}
      </a>
    </span>
  </li>
{% endfor %}
</ul>
